{% extends 'base.html' %}

{% block title %}Пароль изменён{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header text-center">
                <h3>Пароль успешно изменён</h3>
            </div>
            <div class="card-body">
                <p>Ваш пароль был успешно изменён.</p>
                <p class="mt-4 text-center"><a href="{% url 'ad_list' %}" class="btn btn-primary">Продолжить</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}