{% extends 'base.html' %}

{% block title %}Письмо отправлено{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-6 col-lg-4">
        <div class="card">
            <div class="card-header text-center">
                <h3>Письмо для сброса пароля отправлено</h3>
            </div>
            <div class="card-body">
                <p>Мы отправили инструкции по сбросу вашего пароля на указанный адрес электронной почты. Если письмо не пришло, проверьте папку со спамом.</p>
                <p class="mt-4 text-center"><a href="{% url 'login' %}" class="btn btn-outline-primary">Вернуться ко входу</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}